* {
  direction: rtl;
  list-style: none;
  margin: 0%;
  padding: 0%;
  text-decoration: none;
  line-height: 2rem;
}
html {
  width: 100%;
  height: 100%;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #0f0e0e, #422424, #3a4224) no-repeat
    center center;
  box-sizing: border-box;
}
#sid {
  width: 258px;
  border: 1px solid #ccc;
  margin-top: 20px;
  float: right;
}
#sid h2 {
  background-color: #47a;
  text-align: center;
  color: white;
  font-size: 24px;
  padding: 5px;
}
#menu a {
  font-size: 20px;
  color: white;
  display: block;
  padding: 5px 20px;
}
#menu .item {
  position: relative;
}
#menu .item:nth-child(2n-1),
#menu .subitem:nth-child(2n-1) {
  background-color: #444444;
}
#menu .item:nth-child(2n),
#menu .subitem:nth-child(2n) {
  background-color: #505050;
}
.item,
.subitem {
  border-top: 1px solid whitesmoke;
  border-right: 1px solid whitesmoke;
}
.item span,
.subitem span {
  float: left;
}
.submenu {
  visibility: hidden;
  position: absolute;
  top: -1px;
  right: 105%;
  width: 258px;
  z-index: 1;
}
.submenu .subitem {
  position: relative;
}
.item:hover > .submenu,
.subitem:hover > .submenu {
  visibility: visible;
  right: 100%;
  transition: 0.2s;
}
[class*="item"]:hover {
  background: linear-gradient(to bottom, #868f96, #596164);
}
.sub::after {
  content: "\027E9";
  color: #ccc;
  float: left;
  transform: scale(.8);
}
